<div class="selected" *ngIf="portfolioData.selected != null">
  <div class="selected--details">
    <i [routerLink]="['/samples']" class="fas fa-arrow-left fa-lg selected--details--arrow" style="cursor:pointer"></i> <span class="selected--details--title"> DETAILS: {{ portfolioData.selected.title }} </span>
  </div>
  <div class="selected--link" *ngIf="portfolioData.selected.link != '' && portfolioData.selected.link != null">
    Check it out! <a href="{{portfolioData.selected.link}}" class="main--link" target="_blank">LINK</a>
  </div>
  <div class="selected--desc">
    {{ portfolioData.selected.description }}
  </div>
  <div class="selected--techs">
    Technologies used: {{ portfolioData.selected.technologies.join(", ") }}
  </div>

  <div class="selected--imgHeader" *ngIf="portfolioData.selected.images.length != 0">
    Images
  </div>

  <div class="selected__images" *ngFor="let img of portfolioData.selected.images">
    <div class="selected__images__container">
      <img src="./../../assets/img/samples/{{img}}"/>
    </div>
  </div>
</div>

<div class="sampleNotFound" *ngIf="portfolioData.selected == null">
  <div>I'm sorry, the sample you entered does not exist</div>
  <a [routerLink]="['/samples']">Back to samples</a>
</div>