<div class="componentheader">Contact Me<div>

<div class="contact">
  <div class="contact__desc">Feel free to contact me at either my phone number, my email, or connecting with me on my LinkedIn:</div>
  <div class="contact--items">
    <div class="contact--items--item">+1 (902) 220-0308</div>
    <div class="contact--items--item">ethantwalker98@gmail.com</div>
    <div class="contact--items--item"><a target="_blank" href="https://www.linkedin.com/in/ethan-walker-216127162/">LinkedIn</a></div>
  </div>
  <div class="contact__desc">Thank you! :)</div>
</div>