<div class="componentheader">Resume<div>

<div class="resume">
    <div class="resume__category">
      <div>Profile</div>
      <div class="resume__category--items">
        <div class="resume__category--items--item">Currently a second-year student in the Information Technology – Web Development Diploma program at Nova Scotia Community College</div> 
        <div class="resume__category--items--item">Web developer that is a fast learner and team player with experience in front-end, back-end, and full-stack web development</div>
      </div>
    </div>
    <div class="resume__category">
      <div>Summary of Skills</div>
      <div class="resume__category--items">
        <div class="resume__category--items--item">Created responsive websites using HTML/CSS, Bootstrap, Javascript, jQuery, PHP, ASP.NET Core while adhering to W3C standards.</div>
        <div class="resume__category--items--item">Managed databases using programs such as mySQL, MongoDB, and CiviCRM.</div>  
        <div class="resume__category--items--item">Built full stack web applications using MongoDB, Express.js, AngularJS, and Node.js</div>
        <div class="resume__category--items--item">Utilized the content management system, WordPress, to design websites</div>
        <div class="resume__category--items--item">Utilized object oriented programming methods to create programs based off of real life objects</div>
        <div class="resume__category--items--item">Used software such as Microsoft Visual Studio Code, git, GitHub, gulp.js, NPM, and WAMP/ XAMPP to assist with web application development</div>
        <div class="resume__category--items--item">Used Scrum in Agile development, while using project management software such as Jira or Trello</div>
      </div>
    </div>
    <div class="resume__category">Education</div>
      <div>
        <div class="resume__category--items">
          <div class="resume__category--items--item">Nova Scotia Community College</div>                                                                
          <div>Information Technology – Web Development</div>
          <div>Truro, NS</div>
          <div>2017 to present</div> 
        </div>
        <div class="resume__category--items">
          <div>Auburn Drive High School</div>                                                                                    
          <div>Grade 12 Diploma</div>
          <div>Dartmouth, NS</div>                                                                                                       
          <div>Late French Immersion Program (Grades 7-12)</div>
        </div>
      </div>
    <div class="resume__category">Experience</div>
      <div> 
        <div class="resume__category--items">
          <div>Greenhorn Solutions</div>
          <div>Web Developer</div>
          <div>Truro, NS</div>
          <div>2018</div>
        </div>

        <div class="resume__category--items">
          <div>Super Store</div>
          <div>Cook/Deli Clerk</div>
          <div>Truro, NS</div>
          <div>2017 to 2018</div>
        </div>
          
        <div class="resume__category--items">
          <div>Ben’s Bakery Outlet</div>
          <div>Sales Associate</div>
          <div>Dartmouth, NS</div>
          <div>2016 to 2017</div>
        </div>
      </div>
    <div class="resume__category">
      <div class>Volunteer Experience</div>
      <div class="resume__category--items">
        <div>Central Nova First Lego League</div>
        <div>Robot Design Judge</div>
        <div>Truro, NS</div>
        <div>2018</div>
      </div>
    </div>
    <div class="resume__category">
      <div>Professional Development</div>
      <div class="resume__category--items">
        <div>Nova Scotia Community College - Occupational Health & Safety (2017)</div>
        <div>Nova Scotia Community College - WHMIS (2017)</div>
        <div>NSSSA Leadership Metro Conference - Attendee (2016)</div>
      </div>
    </div>
    <div class="resume__category">
      <div>Extra-Curricular Activities</div>
      <div>
        <div class="resume__category--items">
          <div>Access Nova Scotia</div> 
          <div>Participant</div> 
          <div>Truro, NS</div>
          <div>2018</div>
        </div>
        <div class="resume__category--items">
          <div>Nova Scotia Community College</div> 
          <div>Game Jam Participant (user interface designer)</div> 
          <div>Truro, NS</div>
          <div>2018</div>
        </div>
        <div class="resume__category--items">
          <div>Reach for the Top - Provincial Trivia Tournament</div>
          <div>Nova Scotia Champions</div>
          <div>Dartmouth, NS</div>
          <div>2017</div>
        </div>
      </div>
    </div>
</div>

<div class="componentfooter">References available on request<div>