<div class="componentheader">Resume<div>

<div class="resume">
    <div class="resume__category">
      <div>Profile</div>
      <div class="resume__category--items">
        <div class="resume__category--items--item">Demonstrated proficiency in the use of NetBeans, Microsoft Visual Studio Code, Notepad++, IDLE, and VMWare Workstation Pro</div> 
        <div class="resume__category--items--item">Skilled in the use of programming languages including Javascript, Java, Python and HTML/CSS</div>
        <div class="resume__category--items--item">Intermediate level experience using C# and PHP</div>
        <div class="resume__category--items--item">Familiar with performing administration in Windows 10 and Linux</div>
      </div>
    </div>
    <div class="resume__category">
      <div>Summary of Skills</div>
      <div class="resume__category--items">
        <div class="resume__category--items--item">Designed websites using Microsoft Visual Studio code and Notepad++</div>
        <div class="resume__category--items--item">Utilized the content management system, WordPress, to design websites</div>  
        <div class="resume__category--items--item">Resolved issues within programs by analyzing code, identifying problems, and implementing solutions</div>
        <div class="resume__category--items--item">Improved efficiency of programs while using best practices in web development and adhering to the W3C standards</div>
        <div class="resume__category--items--item">Utilized object oriented programming methods to create programs based off of real life objects</div>
        <div class="resume__category--items--item">Managed web servers and installed software (phpMyAdmin, PHP)</div>
        <div class="resume__category--items--item">Exprienced using frameworks like ASP.NET Core and Angular to develop web apps.</div>
      </div>
    </div>
    <div class="resume__category">Education</div>
      <div>
        <div class="resume__category--items">
          <div class="resume__category--items--item">Nova Scotia Community College</div>                                                                
          <div>Information Technology – Web Development</div>
          <div>Truro, NS</div>
          <div>2017 to present</div> 
        </div>
        <div class="resume__category--items">
          <div>Auburn Drive High School</div>                                                                                    
          <div>Grade 12 Diploma</div>
          <div>Dartmouth, NS</div>                                                                                                       
          <div>Late French Immersion Program (Grades 7-12)</div>
        </div>
      </div>
    <div class="resume__category">Experience</div>
      <div> 
        <div class="resume__category--items">
          <div>Greenhorn Solutions</div>
          <div>Web Developer</div>
          <div>Truro, NS</div>
          <div>2018</div>
        </div>

        <div class="resume__category--items">
          <div>Super Store</div>
          <div>Cook/Deli Clerk</div>
          <div>Truro, NS</div>
          <div>2017 to 2018</div>
        </div>
          
        <div class="resume__category--items">
          <div>Ben’s Bakery Outlet</div>
          <div>Sales Associate</div>
          <div>Dartmouth, NS</div>
          <div>2016 to 2017</div>
        </div>
      </div>
    <div class="resume__category">
      <div>Professional Development</div>
      <div class="resume__category--items">
        <div>Nova Scotia Community College - Occupational Health & Safety (2017)</div>
        <div>Nova Scotia Community College - WHMIS (2017)</div>
        <div>NSSSA Leadership Metro Conference - Attendee (2016)</div>
      </div>
    </div>
    <div class="resume__category">
      <div>Extra-Curricular Activities</div>
      <div>
        <div class="resume__category--items">
          <div>Nova Scotia Community College</div> 
          <div>Game Jam Participant (user interface designer)</div> 
          <div>Truro, NS</div>
          <div>2018</div>
        </div>
        <div class="resume__category--items">
          <div>Reach for the Top - Provincial Trivia Tournament</div>
          <div>Nova Scotia Champions</div>
          <div>Dartmouth, NS</div>
          <div>2017</div>
        </div>
      </div>
    </div>
</div>

<div class="componentfooter">References available on request<div>