/* You can add global styles to this file, and also import other style files */
@import "./globals";

body{
    background-color: #EAE7DC;
    margin: 0;
    color: #8E8D8A;
    font-size: 18px;
}

.loadingOverlay {
    position: fixed;
    z-index: 999;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    overflow: show;
    margin: auto;
    background-color: #EAE7DC;
    @include display-flex();
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: #7dce94;
    font-size: 48px;
}

.componentheader{
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.componentfooter{
    margin-top: 20px;
}

a:link{
    color: #7dce94;
}

a:visited{
    color: #318247
}

input[type=text], input[type=password]{
    
    width: 300px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline-color: #7dce94;
    
}

button{
    @include noselect();

    outline: none;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    border: none;
    background: none;
    background-color: #7dce94;
    color: white;
    box-shadow: 0 5px 0 #838685;

    cursor: pointer;

    &:active{
        box-shadow: 0 3px #666;
        transform: translateY(4px);
    }
}