<div class="componentheader">Welcome to my portfolio!<div>

<div class="home">
  <div class="home__body">
    <div class="home__body--item">
      My name is Ethan Walker and I'm a second year student at NSCC Truro Campus in the IT Web Development Program from Dartmouth, Nova Scotia. I enjoy working with frameworks like ASP.NET core, and making full stack web apps, like this portfolio, which is a MEAN stack app!  
    </div>
    
    <div class="home__body--item">
    This portfolio is a culmination of all my learning at NSCC, as well as extended learning. Here you will find my resume and samples which outlines my skills. Hopefully you enjoy reading my portfolio as much as I did making it! Thank you for taking the time to visit my portfolio and learn about me!
    </div>

    <div class="home__body--closing-item">Thank you,</div>
    <div class="home__body--closing-name">Ethan Walker</div>

  </div>
</div>